<h1><%= @tag ? "Articles Tagged '#{@tag}'" : "All Articles" %></h1>

<%= link_to "New Article", new_article_path, :class => 'new_article' %>
<%= link_to "Sort by title", articles_path(:title => 'title')  %> |
<%= link_to "Sort by word count", articles_path(:title => 'word_count') %> |
<%= link_to "Sort by published", articles_path(:title => 'published') %>

<div id="sidebar">
  Filter by Tag: <%= tag_links(Tag.all) %>
</div>


<ul id='articles'><%= render partial: 'article', collection: @articles %></ul>





